###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=d2ad7f077698a55a7b3a29602ec11f7a
APP_DOMAIN=localhost
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL=mysql://db_user:db_password@127.0.0.1:3306/db_name
###< doctrine/doctrine-bundle ###